body {
  margin: 0;
  padding: 0;
  background-color: rgb(41, 41, 63);
  color: #1E1E1F;
  font-family: 'Courier New', Courier, monospace;
  
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
